
# JSON-Format of the MQTT-Messages
# {
#   "timestamp": tmp_time.strftime("%Y-%m-%dT%H:%M:%S.%f"),
#   "metric_name": chunk["metric_name"],
#   "trivial_name": chunk["trivial_name"],
#   "unit": chunk["unit"],
#   "value": value.Value.Value,
# }
[agent]
  interval = "1s"               # Prüfe jede Sekunde auf neue Daten
  round_interval = true
  metric_batch_size = 500       # Batch-Größe für den Versand
  metric_buffer_limit = 10000   # Buffergröße für ungesendete Nachrichten

[[inputs.mqtt_consumer]]
# hostaddress of the mqtt broker
servers = ["{{mosquitto_host_address}}:{{mosquitto_port}}"]
# topics to listen to 
topics = [
  {%- for service in data_services %}
  "{{service.name}}-{{service.input_protocol}}"{% if not loop.last or additional_topics %},{% endif %}
  {%- endfor %}
  {%- for topic in additional_topics %}
  "{{topic.name}}-{{topic.input_protocol}}"{% if not loop.last %},{% endif %}
  {%- endfor %}
]
# Content format of the MQTT-Messages
data_format = "json_v2"

  # read in json-format 
  [[inputs.mqtt_consumer.json_v2]]
    # read in json as object
    [[inputs.mqtt_consumer.json_v2.object]]
      # set the path to the root of the JSON-Object
      path = "@this"
      # stops telegraf from chaining the key path
      disable_prepend_keys = true

      # defining the timestamp key 
      timestamp_key = "timestamp"
      # defining the timestamp format by go reference time 
      timestamp_format = "2006-01-02T15:04:05.000000"
      # setting keys as tags
      tags = ["metric_name","trivial_name", "unit"]
      # setting field to value key and define its type
      [inputs.mqtt_consumer.json_v2.object.fields]
        value = "float"

# set the measurement name to the metric_name
[[processors.converter]]
  [processors.converter.tags]
    measurement = ["metric_name"]

# rename "topic" to "bucket"
[[processors.rename]]
  [[processors.rename.replace]]
    tag = "topic"
    dest = "source"

# print out the data to a file for easier debugging
[[outputs.file]]
  files = ["/tmp/metrics.out"]
  tagexclude = ["host"]

# write data to the influxDB
[[outputs.influxdb_v2]]
  # The URLs of the InfluxDB cluster nodes.
  urls = ["{{influx_host_address}}:{{influx_port}}"]

  # API token for authentication.
  token = "{{influx_api_token}}"

  # Organization is the name of the organization you wish to write to; must exist.
  organization = "{{influx_org}}"

  # Destination bucket to write into defined by a tag
  bucket_tag = "source"

