# ignoring everything from directory
back-end/postgres/data

# exclude solr core data
back-end/test/dspace/solr/statistics
back-end/test/dspace/solr/*/data/
back-end/test/dspace/solr/*/core.properties.lock
back-end/test/dspace/solr/*/replication.properties

# exclude config file which contains credentials
back-end/test/dspace/config/modules/assetstore.cfg
