services:
{%- for service in data_services %}
    bridge_{{service.name}}:
        build: ./bridge-microservice
        ports:
            - "{{base_port + loop.index}}:80"
        environment:
            - PYTHONUNBUFFERED=1
        volumes:
            - ./services-config/service_{{service.name}}.json:/bridge-microservice/app/conf/service.json
        extra_hosts:
            - "host.docker.internal:host-gateway"
{%- endfor %}
    mosquitto:
        image: eclipse-mosquitto:2.0.18
        volumes:
            - ./mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf
        ports:
            - "1883:1883"
    telegraf:
        image: telegraf:1.31.2-alpine
        volumes:
            - ./telegraf/telegraf.conf:/etc/telegraf/telegraf.conf
        restart: always
    influxdb:
        image: influxdb:2.7-alpine
        ports:
            - "8086:8086"
        user: "0:0"
        env_file:
            - ./influxdb/cred.env
            - ./influxdb/conf.env
        volumes:
            - influxdb_data:/var/lib/influxdb2
            - influxdb_config:/etc/influxdb2
            - ./influxdb/init-buckets.sh:/docker-entrypoint-initdb.d/init-buckets.sh
        restart: always
    grafana:
        image: grafana/grafana-enterprise
        container_name: grafana
        ports:
            - '3000:3000'
        user: '0'
        environment:
            - GF_INSTALL_PLUGINS={%- for plugin in grafana_plugins %} {{plugin}} {%- if not loop.last %},{%- endif %} {%- endfor %}
        volumes:
            - ./grafana/provisioning:/etc/grafana/provisioning
            - ./grafana/dashboards:/var/lib/grafana/dashboards
        #- './grafana/var:/var/lib/grafana'
        #- './grafana/etc:/etc/grafana'
        extra_hosts:
            - "host.docker.internal:host-gateway"
        restart: unless-stopped


volumes:
    influxdb_data:
    influxdb_config: