<div class="background-image-container mt-ncs">

  <div class="container">
    <div class="jumbotron py-4 px-2 py-sm-5 px-sm-0 mt-0 mb-4">
      <div class="row">
        <!-- Linke Spalte: Text -->
        <div class="col-md-7">
          <!-- <h1 class="display-2">DSpace 9</h1> -->
          <p class="lead">Projektbeschreibung:</p>
          <p>MoKI-Pro hat das Ziel, alle Stufen des Optikfertigungsprozesses – vom Schleifen bis zum Polieren –
            umfassend zu charakterisieren und zu modellieren. Dafür werden große Datenmengen von Industrie- und
            Forschungspartnern gesammelt, auf einem zentralen Big Data
            Cluster datenschutzkonform ausgewertet und zur Optimierung der Fertigungsprozesse genutzt. Durch den
            gezielten Ausbau moderner Sensorik und Messtechnik,
            etwa Acoustic Emission Monitoring und hochauflösende Optische Kohärenztomographie (OCT), wird eine
            zerstörungsfreie Überwachung der Produktion ermöglicht.
            Feinste Risse und Defekte können so frühzeitig erkannt werden, was die Qualität steigert und eine
            nachhaltigere Fertigung unterstützt.</p>
          <p class="lead">Über MoKIpro-Vision:</p>
          <p>MoKIpro-Vision ist die zentrale Austauschplattform von MoKI-Pro. Hier werden Projektdaten sicher geteilt,
            Analysen veröffentlicht und aktuelle Entwicklungen
            rund um die Optikfertigung dokumentiert. Die Plattform ermöglicht eine enge Zusammenarbeit aller
            Projektpartner und unterstützt die effiziente Nutzung der
            gesammelten Informationen.</p>
        </div>

        <!-- Rechte Spalte: Grafik -->
        <div class="col-md-5 d-flex align-items-center justify-content-center">
          <img src="assets/dspace/images/Logo.svg" alt="Provision Logo SVG Grafik" class="img-fluid">
        </div>
      </div>
    </div>
  </div>

  <picture class="background-image">
    <source type="image/webp"
      srcset="assets/dspace/images/banner.webp 2000w, assets/dspace/images/banner-half.webp 1200w, assets/dspace/images/banner-tall.webp 768w">
    <source type="image/jpg"
      srcset="assets/dspace/images/banner.jpg 2000w, assets/dspace/images/banner-half.jpg 1200w, assets/dspace/images/banner-tall.jpg 768w">
    <img alt=""
      [src]="'assets/dspace/images/banner.jpg'" /><!-- without the []="''" Firefox downloads both the fallback and the resolved image -->
  </picture>
</div>